<div class="menu vertical-center">    
        <div class="col-md-3 title logo">
            <span class="red">SANGUE</span> <i class="fa fa-paw paw"></i><span class="yellow">AMIGO</span>
        </div>
        <div class="col-md-2 title linkPage text-right">
            <a href="#">MAPA SANGUINEO</a>
        </div>
        <div class="col-md-2 title linkPage text-center">
            <a href="/sistema">AREA VET</a>
        </div>
        <div class="col-md-2 title linkPage text-left">
            <a href="/sobre-nos">SOBRE NOS</a>
        </div>
        <div class="col-md-3">
            
        </div>       
</div>

<div class="row  no-gutters">
    <div class="col no-gutters">

<img src="../../../assets/img/MAPS.jpg" />
        <!-- <agm-map 
        [latitude]="latitude" 
        [longitude]="longitude" 
        [zoom]="zoom" >
          <agm-marker 
          [latitude]="latitude" 
          [longitude]="longitude"></agm-marker>
        </agm-map> -->
    </div>
</div>