<div class="menu vertical-center">    
        <div class="col-md-3 title logo">
            <span class="red">SANGUE</span> <i class="fa fa-paw paw"></i><span class="yellow">AMIGO</span>
        </div>
        <div class="col-md-2 title linkPage text-right">
            <a href="#">MAPA SANGUINEO</a>
        </div>
        <div class="col-md-2 title linkPage text-center">
            <a href="/sistema">AREA VET</a>
        </div>
        <div class="col-md-2 title linkPage text-left">
            <a href="/sobre-nos">SOBRE NOS</a>
        </div>
        <div class="col-md-3">
            
        </div>       
</div>

<div class="row  no-gutters">
    <div class="col no-gutters">
        <div class="leftside">
            <div class="titleBody"><i class="fa fa-paw paw"></i> NOSSO OBJETIVO</div>
            <div class="bodyContent">
                O Projeto <span class="bold">Sangue Amigo</span> tem como objetivo, ajudar nossos amigos PET's a terem mais chance de vida.<br/><br>
                Com a colaboração da <span class="bold">Dra. Letícia Lauriano da Silva</span>, o portal foi desenvolvido e está disponível para todo e qualquer laboratório e clinica que queira compartilhar com a web, suas bolsas de sangue. Após algumas queixas levantadas pela Dra. por perder alguns pacientes em situação de emergência, causado pela demora a encontrar esse item tão precioso em algumas clínicias e também pela dificuldade deste processo, sendo realizado totalmente por ligação em ligação.<br>
                A partir daí foi concebido nosso projeto, sem qualquer fim lucrativo, sendo totalmente idealizado para auxiliar na velocidade de capitação de uma bolsa de sangue e como missão de eliminar esta barreira na vida dos PET's. <br><br>
                Quantos de nós não sofremos algum dia com a perda de um amigo?<br>
                Nós fazemos de tudo só para ver essa carinha feliz ao nosso lado ao inicio, meio e fim de cada dia.<br><br>
                
                Dito isso, esperamos que todos colham os beneficios da velocidade de encontrar uma bolsa de sangue e que principalmente salvem nossos animais.<br><Br>
                    Com amor,<br>
                    <div class="black-logo">SANGUE<i class="fa fa-paw paw"></i>AMIGO</div>
            </div>
        </div>
        
    </div>
    <div class="col no-gutters">
        <div class="rightside">

        </div>
    </div>
</div>